<!DOCTYPE html>
<html ng-app="ehr" ng-controller="EHRCtrl">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  
  <body>
  
  <div ng-include="'../views/header.html'"></div>
    
<!--  ================================================================== -->
<!--  ============================ MENU ================================ -->
<!--  ================================================================== -->
<div id="horizontal">
<nav ng-init="showPatients=false;
showOptions=true;showEncounters=false;
showReports=false;showProtocols=false;">

	<h3 class="menuTitle">
	<a href="">
	<img src="/img/more.png" alt="Plus"  ng-hide="(showPatients==true)" ng-click="showPatients=(showPatients==false)"/>
	<img src="/img/less.png" alt="Less"  ng-hide="(showPatients==false)" ng-click="showPatients=(showPatients==false)"/>
	</a> 
	Autre patient</h3>	
	<ul ng-hide="(showPatients==false)">
		<li><input type="text" ng-model="nameFilter"></li>
		<li class="menuElem" ng-repeat="p in patients | patientFilter : nameFilter | orderBy :'name.family[0]'"> 
		<div ng-click="selectPatient(p.id)">{{p.name.family[0].toUpperCase()}} {{p.name.given[0]}}</div></li> 
	</ul>
		
    <h3 class="menuTitle">
	<a href="">
	<img src="/img/more.png" alt="Plus"  ng-hide="(showOptions==true)" ng-click="showOptions=(showOptions==false)"/>
	<img src="/img/less.png" alt="Less"  ng-hide="(showOptions==false)" ng-click="showOptions=(showOptions==false)"/>
	</a> 
    Options du dossier</h3>
    <ul ng-hide="(showOptions==false)">
   		<li class="menuElemNonClickable" ng-repeat="elem in ehrMenuOptions"> 
		<input type="checkbox" ng-model="elem.show" value="true">
		{{elem.name}}<br></li> 
	</ul>
    
	<h3 class="menuTitle">
	<a href="">
	<img src="/img/more.png" alt="Plus"  ng-hide="(showEncounters==true)" ng-click="showEncounters=(showEncounters==false)"/>
	<img src="/img/less.png" alt="Less"  ng-hide="(showEncounters==false)" ng-click="showEncounters=(showEncounters==false)"/>
	</a> 
	Consultations </h3>	
	<div ng-hide="(showEncounters==false)" ng-init="eMenu=[true,true,true]">
	
	<div class="menuElem">
	</div>
	
	<div class="encounterBlocked">
	</div>
	
	</div>
	<!-- 
    <h3 class="menuTitle">
	<a href="">
	<img src="/img/more.png" alt="Plus"  ng-hide="(showReports==true)" ng-click="showReports=(showReports==false)"/>
	<img src="/img/less.png" alt="Less"  ng-hide="(showReports==false)" ng-click="showReports=(showReports==false)"/>
	</a> 
	Raports</h3>
    
    <h3 class="menuTitle">
	<a href="">
	<img src="/img/more.png" alt="Plus"  ng-hide="(showProtocols==true)" ng-click="showProtocols=(showProtocols==false)"/>
	<img src="/img/less.png" alt="Less"  ng-hide="(showProtocols==false)" ng-click="showProtocols=(showProtocols==false)"/>
	</a> 
    Protocols</h3>
    
     -->
</nav>


<!--  ================================================================== -->
<!--  =================== CENTRAL SECTION ============================== -->
<!--  ================================================================== -->


<!--  ==================== Patient Data ================================ -->

<section id="contents">
	<section id="patient" ng-init="showPatientData=true">
	
		<div id="title"> 
			<img src="/img/more.png" alt="Plus"  ng-hide="(showPatientData==true)" ng-click="showPatientData=(showPatientData==false)"/>
			<img src="/img/less.png" alt="Less"  ng-show="showPatientData" ng-click="showPatientData=(showPatientData==false)"/>
			<img src="{{patient.photo[0].url}}" alt="Photo du patient" />
			<div class="patientInfo"> {{patient.name.given[0]}} {{patient.name.family[0] | uppercase}} </div>
			<div class="patientInfo"> ({{calculateAge(patient.birthDate)}} ans) </div>
			<div class="patientInfo">Profession : {{patient.profession[0]}}</div>
			<div class="patientInfo"> Tel : {{patient.telecom[0].value}}</div>
			<div class="patientInfo" ng-show="isPatientDiabetic"> Diabétique depuis {{findStartDiabete()}} ans</div>
		</div>
		
		<div id="patientData" ng-show="showPatientData">
			<div class="dataCard" ng-repeat="elem in ehrMenuOptions" ng-show="elem.show">
				<p>
				<a href="">
				<img src="/img/more.png" alt="Plus"  ng-hide="(elem.unfold==true)" ng-click="elem.unfold=(elem.unfold==false)"/>
				<img src="/img/less.png" alt="Plus"  ng-hide="(elem.unfold==false)" ng-click="elem.unfold=(elem.unfold==false)"/>
				</a> 
				<strong>{{elem.name}} : </strong></p>
				<div ng-include="'../'+elem.url"></div>
			</div>
			
		</div>
	</section>

</section>	

<script src="/js/lib/angular/angular.js"></script>
<script src="/js/lib/angular/angular-cookies.js"></script>
<script src="/js/appEHR.js"></script>
<script src="/js/filters.js"></script>
    
    
  </body>
</html>