<!DOCTYPE html>
<html ng-app="">
  <head>
    <title><%= __('EhrServer') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
  <header><% include header.html %></header>
    
  <div id="horizontal">  
  <nav>
  <h3 class="menuTitle"><%= __('Downloads') %></h3>		
	<ul>
		<li class="menuElem"><a href="#"><%= __('DownloadSchemas') %></a></li> 
	</ul>
  </nav>
  
  <section id="contents">
    <p class="error">
    	<%= message %>
		
    </p>
    </section>
    </div>
    
<script src="/js/lib/angular/angular.js"></script>
<script src="/js/lib/angular/angular-cookies.js"></script>
    
  </body>
</html>