
  <a ng-href="/"> <%=__('Home') %> | </a>
  <% if(locals.loggedIn && loggedIn){ %>
  	  <% if(locals.userData && userData.isPractitioner){ %>
	  	<a ng-href="/patients"> <%=__('Patients') %> | </a>
	  <% } %>  
  	  <% if(locals.userData && userData.isPatient){ %>
	  	<a ng-href="/myehr"> <%=__('MyEHR') %> | </a>
	  <% } %>  
	  <a ng-href="/"> <%=__('Profile') %> | </a>
	  <a ng-href="/"> <%=__('Parameters') %> | </a>
   <% } else { %>  
	  <a ng-href="/login"> <%=__('Signin') %> | </a>
	  <a ng-href="/register"> <%=__('Register') %> </a>
  <% } %>  
