<!DOCTYPE html>
<html ng-app="patients" ng-controller="patientsCtrl">
  <head>
    <title><%= __('Patients') %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>  
  
  <body>
    
    
   <header><% include header.html %></header>
    
<!--  ================================================================== -->
<!--  ============================ MENU ================================ -->
<!--  ================================================================== -->

<div id="horizontal">
<nav>
	<h3 class="menuTitle">
	Mes patients</h3>		
	<ul>
		<li class="menuElem" ng-repeat="p in patients | orderBy :'name.family[0]'"> 
		<a href="/ehr/#/{{p.id}}">{{p.name.family[0].toUpperCase()}} {{p.name.given[0]}}</a></li> 
	</ul>
</nav>


<!--  ================================================================== -->
<!--  =================== CENTRAL SECTION ============================== -->
<!--  ================================================================== -->


<!--  ==================== Patient Data ================================ -->

<section id="contents">
	<div id="title"> 
		<span>Rechercher un patient</span>
	</div>
	<p>Nom : <input type="text" ng-model="nameFilter"><br>
	Résultat : 
	</p>
	
	<ul>
	  <li ng-repeat="patient in patients | patientFilter : nameFilter">
	    <a href="/ehr/#/{{patient.id}}">{{ patient.name.family[0].toUpperCase() }} {{ patient.name.given[0] }}
		({{ calculateAge(patient.birthDate)}} ans)</a><br>
	  </li>
	</ul>


</section>	

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
<script src="/js/lib/ngstorage/ngStorage.js"></script>
<script src="/js/app.js"></script>
<script src="/js/PatientsCtrl.js"></script>
<script src="/js/filters.js"></script>
    
    
  </body>
</html>